/**
 * @description common-style
   @note: this file is common to both PC and mobile H5 pages, so don't add style code that only applies to one side
 * @author wyg
 */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

blockquote,
html,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    text-decoration: none;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: 400;
}

li,
ol {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

a,
input,
select,
textarea {
    outline: 0;
}

a,
button,
input,
select,
textarea {
    outline: 0;
}

a {
    text-decoration: none;
    color: #508bff;

    &:hover {
        text-decoration: none;
    }
}

em,
i {
    font-style: normal;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

*:hover {
    outline: none;
}

/*优化滚动条*/

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-track-piece {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8e8e8e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3b3b3b;
}

::-webkit-scrollbar-corner {
    background-color: #535353;
}

::-webkit-scrollbar-resizer {
    background-color: #ff6e00;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

[v-cloak] {
    display: none;
}

.l {
    float: left;
}

.r {
    float: right;
}

.w {
    max-width: 1190px;
    margin: 0 auto;
}

.yellow .el-checkbox__label {
    color: #f3ba2f !important;
}

.orange .el-checkbox__label {
    color: #ff7a00 !important;
}

.red .el-checkbox__label {
    color: #ff3d00 !important;
}

.blue .el-checkbox__label {
    color: $--color-success !important;
}

.purple .el-checkbox__label {
    color: #9e00ff !important;
}


.dis-connect {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background-color: #131922;
    border-color: #131922;
    text-align: center;
    box-sizing: border-box;

    img {
        margin-left: 0.16rem;
    }
}

.blue {
    color: #0092E4;
}

.red {
    color: #FF0F00;
}

.orange {
    color: #FF5C00;
}

.yellow {
    color: #FFB800;
}

.back {
    width: 1.813333333333333rem;
    height: .746666666666667rem;
    padding-left: .7rem;
    line-height: .68rem;
    color: $--color-success;
    border-radius: 1.2rem;
    border: 2px solid #004d8c;
    background: url("../assets/images/back.png");
    background-repeat: no-repeat;
    background-position: .133333333333333rem center;
    cursor: pointer;
    font-size: 18px;
}
.min-back {
    display: none;
}
@media (max-width: 768px) {
    .back {
        
        display: none;
    }
    .min-back {
        padding-left: .3rem;
        display: block;
    }
}