/**
 * @description rewrite element-ui-style
 * @author wyg
 */
.el-empty {
    padding-top: 1.426666666666667rem;
}

.el-pagination {

    .btn-prev,
    .btn-next {
        background-color: transparent !important;
        color: #32A3FF !important;
    }
}

.el-button--primary {
    background: $--color-success;
    border-color: $--color-success;
}

.el-dialog {
    background: #131922;
    border-radius: 0.133333333333333rem;

    .el-dialog__body {
        position: relative;

        .el-loading-mask {
            background: #131922;
        }
    }

    .el-dialog__headerbtn {
        top: 0.4rem;
        right: 0.266666666666667rem;
    }

    .el-dialog__header {
        padding: 0.266666666666667rem;
    }

    .el-dialog__title,
    .el-dialog__close {
        line-height: 0;
        font-size: .32rem;
        color: #777e90;
    }

    .el-dialog__body {
        padding: 0.26rem 0.26rem 0.533333333333333rem 0.26rem;
    }
}

.el-checkbox__inner {
    width: 14px;
    height: 14px;

    &::after {
        width: 1px;
    }
}

.el-popper[x-placement^="bottom"] {
    margin-top: 0.133333333333333rem;
}

.el-popover-black {
    min-width: 130px;
    background: #131922;
    border-color: #131922;
    color: #a6a6a6;
    border-radius: 0.266666666666667rem;

    .highlight-color {
        color: $--color-success;
    }

    .item {
        margin-bottom: 0.2rem;
    }
}

.el-message {
    background: #131922;
    color: #bbbbbb;
    border-color: #131922;
    border-radius: 10px;

    &.el-message--success {

        .el-message__content,
        .el-icon-success {
            color: $--color-success;
        }
    }

    &.el-message--error {

        .el-message__content,
        .el-icon-error {
            color: $--color-danger;
        }
    }
}

.el-message-box {
    background: #131922;
    border: 0;
    width: 6.4rem;

    .el-message-box__headerbtn {
        top: 0.373333333333333rem;
    }

    .el-message-box__header {
        padding: 0.37rem 0.26rem 0 0.26rem;
    }

    .el-message-box__title {
        color: #777e90;
        font-size: 0.32rem;
    }

    .el-message-box__content {
        padding: 0.533333333333333rem 0;
        text-align: center;
        color: #fff;
        font-size: 0.32rem;
        font-weight: bold;
    }

    .el-message-box__btns {
        display: flex;
        justify-content: center;
        padding: 0 0.266666666666667rem 0.533333333333333rem;

        .el-button {
            flex: 1;
            height: 0.8rem;
            font-size: 0.32rem;
            border-radius: 0.133333333333333rem;

            &:nth-child(2) {
                margin-left: 0.266666666666667rem;
            }
        }
    }
}

.el-loading-mask {
    background: transparent;

    .el-loading-spinner {
        .path {
            stroke: #fff;
        }
    }
}

@media (max-width: 768px) {
    .el-popover-black {
        border-color: $--color-success;
    }

    .el-message {
        min-width: auto;
        border-color: #004d8c;
        border-width: 2px;
        width: 8.7rem;
    }
}

.el-checkbox__label {
    color: #fff;
    font-size: 16px;
}